<form role="form" data-bind="submit: addTask">
    <div class="input-group">
        <input type="text" data-bind="value: newTaskText" placeholder="What needs to be done?" class="form-control input-lg" autocomplete="off">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
        </span>
    </div>
</form>

<div data-bind="visible: tasks().length > 0" class="todo-list-container panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Tasks</h2>
    </div>
    <ul data-bind="foreach: tasks" class="todo-list list-group">
        <li data-bind="attr: {class: cssClasses}">
            <span data-bind="text: title, attr: {title: title}"></span>
            <div class="pull-right" role="group">
                <button data-bind="click: $parent.toggleTaskState" class="btn btn-xs btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button data-bind="click: $parent.removeTask.bind($parent, $data)" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </li>
    </ul>
</div>

<div data-bind="visible: isChillTime" class="todo-list-container jumbotron">
    <h1>No tasks, chill time.</h1>
</div>
