<!--<h2>Tasks</h2>-->


<!--<form data-bind="submit: addTask">
    Add task: <input data-bind="value: newTaskText" placeholder="What needs to be done?" />
    <button type="submit">Add</button>
</form>-->

<form data-bind="submit: addTask">
    <div class="form-group">
        <!--<label for="txtTask">New Task</label>-->
        <input id="txtTask" data-bind="value: newTaskText" placeholder="What needs to be done?" class="form-control input-lg" type="text" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    </button>
</form>

<div data-bind="visible: tasks().length > 0" class="todo-list-container panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Tasks</h2>
    </div>
    <ul data-bind="foreach: tasks" class="todo-list list-group">
        <li data-bind="attr: {class: cssClasses}">
            <span data-bind="text: title, attr: {title: title}"></span>
            <div class="pull-right" role="group">
                <button data-bind="click: $parent.toggleTaskState.bind($parent, $data)" class="btn btn-xs btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button data-bind="click: $parent.removeTask.bind($parent, $data)" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </li>
    </ul>
</div>

<div data-bind="visible: tasks().length == 0" class="todo-list-container jumbotron">
    <h1>No tasks, chill time.</h1>
</div>

<!--<div data-bind="visible: completedTasks().length > 0" class="todo-list-container well well-lg">
    <h2>This tasks are done</h2>
    <ul data-bind="foreach: completedTasks" class="todo-list list-group">
        <li class="list-group-item" data-bind="text: title">
        </li>
    </ul>
</div>-->
