#page {
	margin-top: 80px;
}

.todo-list-container {
	margin-top: 30px;
}

.todo-list.list-group {
	margin-bottom: 0;
}

/*.list-group-item.done {
	background-color: red;
}*/

.list-group-item-success > span {
	text-decoration: line-through;
}